
.ad-background {
    border-radius: 5px;
    padding: 10px;
}

.ad-title:before {
    content: "advertisement";
    padding: 3px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: .05em;
    font-weight: 700;
}

